$primary-font: var(--wp--preset--font-family--primary-font);
$secondary-font: var(--wp--preset--font-family--secondary-font);

$greeting-mobile: var(--wp--preset--font-size--greeting-mobile);
$greeting-tablet: var(--wp--preset--font-size--greeting-tablet);
$greeting-laptop: var(--wp--preset--font-size--greeting-laptop);
$greeting-desktop: var(--wp--preset--font-size--greeting-desktop);

$title-mobile: var(--wp--preset--font-size--title-mobile);
$title-tablet: var(--wp--preset--font-size--title-tablet);
$title-laptop: var(--wp--preset--font-size--title-laptop);
$title-desktop: var(--wp--preset--font-size--title-desktop);

$sub-title-mobile: var(--wp--preset--font-size--sub-title-mobile);
$sub-title-tablet: var(--wp--preset--font-size--sub-title-tablet);
$sub-title-laptop: var(--wp--preset--font-size--sub-title-laptop);
$sub-title-desktop: var(--wp--preset--font-size--sub-title-desktop);

$text-mobile: var(--wp--preset--font-size--text-mobile);
$text-tablet: var(--wp--preset--font-size--text-tablet);
$text-laptop: var(--wp--preset--font-size--text-laptop);
$text-desktop: var(--wp--preset--font-size--text-desktop);

$button-text-mobile: var(--wp--preset--font-size--button-text-mobile);
$button-text-tablet: var(--wp--preset--font-size--button-text-tablet);
$button-text-laptop: var(--wp--preset--font-size--button-text-laptop);
$button-text-desktop: var(--wp--preset--font-size--button-text-desktop);

$navigation-text-mobile: var(--wp--preset--font-size--navigation-text-mobile);
$navigation-text-tablet: var(--wp--preset--font-size--navigation-text-tablet);
$navigation-text-laptop: var(--wp--preset--font-size--navigation-text-laptop);
$navigation-text-desktop: var(--wp--preset--font-size--navigation-text-desktop);

$contact-text-mobile: var(--wp--preset--font-size--contact-text-mobile);
$contact-text-tablet: var(--wp--preset--font-size--contact-text-tablet);
$contact-text-laptop: var(--wp--preset--font-size--contact-text-laptop);
$contact-text-desktop: var(--wp--preset--font-size--contact-text-desktop);

$project-link-mobile: var(--wp--preset--font-size--project-link-mobile);
$project-link-tablet: var(--wp--preset--font-size--project-link-tablet);
$project-link-laptop: var(--wp--preset--font-size--project-link-laptop);
$project-link-desktop: var(--wp--preset--font-size--project-link-desktop);
