$primary-font: "Koulen", serif;
$secondary-font: "Overpass", serif;

$greeting-mobile: 48px;
$greeting-tablet: 64px;
$greeting-laptop: 96px;
$greeting-desktop: 112px;

$title-mobile: 40px;
$title-tablet: 64px;
$title-laptop: 96px;
$title-desktop: 112px;

$sub-title-mobile: 16px;
$sub-title-tablet: 24px;
$sub-title-laptop: 32px;
$sub-title-desktop: 40px;

$text-mobile: 14px;
$text-tablet: 16px;
$text-laptop: 20px;
$text-desktop: 24px;

$button-text-mobile: 16px;
$button-text-tablet: 16px;
$button-text-laptop: 16px;
$button-text-desktop: 16px;

$navigation-text-mobile: 48px;
$navigation-text-tablet: 64px;
$navigation-text-laptop: 96px;
$navigation-text-desktop: 112px;

$contact-text-mobile: 16px;
$contact-text-tablet: 20px;
$contact-text-laptop: 24px;
$contact-text-desktop: 28px;

$project-link-mobile: 14px;
$project-link-tablet: 18px;
$project-link-laptop: 24px;
$project-link-desktop: 28px;